<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.possys.Member_sevice.Member_Mapper">

<!-- 월 총 판매금액 -->
<select id="sum_payment" resultType="kr.or.possys.Payment_service.Payment" >
select
    date_format(payment_date, '%Y-%m') AS payment_date, 
    sum(payment_total) AS payment_total
from payment 
where payment_total > 0 and payment_state='정상'
group by date_format(payment_date, '%Y-%m')

</select>

<!-- 발주 신청 금액(지출내역) -->
<select id="expense_folios" resultType="kr.or.possys.ep_order_food_details_service.Ep_Order">
select 
date_format(ep_order_food_details.ep_order_wh_date,'%Y-%m') as ep_order_wh_date
,sum(ep_order_food_details.ep_order_total_price) as ep_order_total_price
from ep_order_food_details
where ep_order_food_details.ea_order_statement='입고완료'
group by  date_format(ep_order_food_details.ep_order_wh_date,'%Y-%m')
</select>

<!-- 회원 리스트에서 상세보기 클릭시 회원별 결제내역 확인 쿼리 -->
<select id="receipt_list" parameterType="java.util.HashMap" resultType="kr.or.possys.Member_sevice.receipt">
select 
payment.table_order_id
,payment.payment_id  as payment_id
,payment.payment_total as payment_total
,payment.payment_pay as payment_pay
,payment.payment_addmileage as payment_addmileage
,payment.payment_usemileage as payment_usemileage
,payment.payment_date as payment_date
,payment.payment_cate as payment_cate
,payment.payment_state as payment_state
,order_detail.menu_name as menu_name
,order_detail.order_detail_ea as order_detail_ea
,order_detail.order_detail_sum as order_detail_sum

from order_detail,payment,table_order
where order_detail.table_order_id = payment.table_order_id
and payment.member_phone=#{member_phone}
and table_order.table_order_end='t'
and table_order.table_order_id=payment.table_order_id
</select>

<!-- 회원가입 처리 쿼리 -->
<insert id="sign_up_action" parameterType="kr.or.possys.Member_sevice.Member">
insert into member(
member_phone,
member_name,
member_point,
member_sign,
member_join,
member_email)
values
(
#{member_phone}
,#{member_name}
,0
,curdate()
,curdate()
,#{member_email}
)
</insert>
<!-- 회원정보 없을때 영수증 출력 쿼리 -->
<select id="no_member_receipt" parameterType="java.util.HashMap" resultType="kr.or.possys.Member_sevice.receipt">
select 
order_detail.menu_name as menu_name
,order_detail.order_detail_ea as order_detail_ea
,order_detail.order_detail_sum as order_detail_sum
,order_detail.table_order_id as table_order_id
,payment.payment_id  as payment_id
,payment.payment_total as payment_total
,payment.payment_pay as payment_pay
,payment.payment_addmileage as payment_addmileage
,payment.payment_usemileage as payment_usemileage
,payment.payment_date as payment_date
,payment.payment_cate as payment_cate
,payment.payment_state as payment_state
from order_detail,table_order,payment
where  order_detail.table_order_id=#{table_order_id}
and table_order.table_order_id=order_detail.table_order_id
and table_order.table_order_end='t'
and payment.table_order_id=order_detail.table_order_id
and payment.payment_date like concat(curdate(),'%')

</select>

<!-- 영수증 화면 출력 쿼리 -->
<select id="receipt" parameterType="java.util.HashMap" resultType="kr.or.possys.Member_sevice.receipt">
select 
member.member_phone as member_phone
,member.member_name as member_name
,member.member_point as member_point
,order_detail.menu_name as menu_name
,order_detail.order_detail_ea as order_detail_ea
,order_detail.order_detail_sum as order_detail_sum
,payment.payment_id  as payment_id
,payment.payment_total as payment_total
,payment.payment_pay as payment_pay
,payment.payment_addmileage as payment_addmileage
,payment.payment_usemileage as payment_usemileage
,payment.payment_date as payment_date
,payment.payment_cate as payment_cate
,payment.payment_state as payment_state
from member,order_detail,table_order,payment
where member.member_phone=#{member_phone}
and order_detail.table_order_id=#{table_order_id} 
and table_order.table_order_id=order_detail.table_order_id
and table_order.table_order_end='t'
and payment.member_phone=member.member_phone
and payment.table_order_id=order_detail.table_order_id
and payment.payment_date like concat(curdate(),'%')
</select>

<!-- 테이블 자리 이동 쿼리 -->
<update id="table_move" parameterType="java.util.HashMap">
update table_order set table_order.table_order_num=#{table_num} 
where table_order.table_order_id=#{table_order_id}
</update>

<!-- 오늘 총 판매액 -->
<select id="today_total" resultType="int">
select sum(payment_pay) as payment_pay 
from payment 
where payment.payment_state='정상' 
and payment.payment_date like concat(curdate(),'%')
</select>

<!-- 사용중인 테이블수 확인 하는 쿼리 -->
<select id="f_table_count" resultType="int">
select count(*)as count 
from table_order 
where table_order.table_order_end='f'

</select>
<!-- 테이블 상태 확인 -->
<select id="table_state" resultType="kr.or.possys.Order_service.Order">
select 
table_order.table_order_num
,table_order.table_order_end
,table_order.table_order_id
,order_detail.menu_id
,order_detail.menu_name
,order_detail.order_detail_ea
,order_detail.order_detail_sum
from 
table_order,order_detail
where table_order.table_order_end='f' and table_order.table_order_id = order_detail.table_order_id
</select>

<!-- 테이블 클릭시 상세정보 확인 쿼리 -->
<select id="table_Order_detail" parameterType = "String" resultType="kr.or.possys.Order_service.Order">
select 
table_order.table_order_num
,table_order.table_order_date
,table_order.table_order_id
,table_order.table_order_end
,order_detail.menu_id
,order_detail.menu_name
,order_detail.order_detail_ea
,order_detail.order_detail_sum
,order_detail.order_detail_end
from 
table_order
,order_detail 
where table_order.table_order_end='f' 
and table_order.table_order_num = #{table_order_num}
and table_order.table_order_id = order_detail.table_order_id
</select>


<!-- 취소카드 매출 현황 조회 쿼리 -->
<select id="C_CDcatePayment" parameterType="java.util.HashMap" resultType="kr.or.possys.Cancel_Payment_service.Payment_Cancel">
select
    date_format(payment_cancel_date,#{selbox}) AS payment_cancel_date, 
    sum(payment_cancel_total) AS payment_cancel_total,
    payment_cate
from payment_cancel 
where payment_cancel_total > 0 and payment_cate='카드'
group by date_format(payment_cancel_date,#{selbox})
</select> 


<!-- 취소현금 매출 현황 조회 쿼리 -->
<select id="C_McatePayment" parameterType="java.util.HashMap" resultType="kr.or.possys.Cancel_Payment_service.Payment_Cancel">
select
    date_format(payment_cancel_date,#{selbox}) AS payment_cancel_date, 
    sum(payment_cancel_total) AS payment_cancel_total,
    payment_cate
from payment_cancel 
where payment_cancel_total > 0 and payment_cate='현금'
group by date_format(payment_cancel_date,#{selbox})
</select>


<!-- 취소매출 현황 조회 쿼리 -->
<select id="C_totalPaymentList" parameterType="java.util.HashMap" resultType="kr.or.possys.Cancel_Payment_service.Payment_Cancel">
select
    date_format(payment_cancel_date,#{selbox}) AS payment_cancel_date, 
    sum(payment_cancel_total) AS payment_cancel_total,
    payment_cate
from payment_cancel 
where payment_cancel_total > 0
group by date_format(payment_cancel_date,#{selbox})
</select>



<!-- 카드 매출 현황 조회 쿼리 -->
<select id="CDcatePayment" parameterType="java.util.HashMap" resultType="kr.or.possys.Payment_service.Payment">
select
    date_format(payment_date, #{selbox}) AS payment_date, 
    sum(payment_total) AS payment_total
from payment 
where payment_total > 0 and payment_state='정상'and payment_cate='카드'
group by date_format(payment_date, #{selbox})
</select> 


<!-- 현금 매출 현황 조회 쿼리 -->
<select id="McatePayment" parameterType="java.util.HashMap" resultType="kr.or.possys.Payment_service.Payment">
select
    date_format(payment_date, #{selbox}) AS payment_date, 
    sum(payment_total) AS payment_total
from payment 
where payment_total > 0 and payment_state='정상'and payment_cate='현금'
group by date_format(payment_date, #{selbox})
</select>


<!-- 매출 현황 조회 쿼리 -->
<select id="totalPaymentList" parameterType="java.util.HashMap" resultType="kr.or.possys.Payment_service.Payment">
select
    date_format(payment_date, #{selbox}) AS payment_date, 
    sum(payment_total) AS payment_total
from payment 
where payment_total > 0 and payment_state='정상'
group by date_format(payment_date, #{selbox})
</select>

<!-- 숫자형식의 데이터값을 제외하고 조회하는 실시간 리스트 쿼리 -->
<select id="K_AjaxMemberList" parameterType="java.util.HashMap" resultType="kr.or.possys.Member_sevice.Member">
SELECT  member_phone
			,member_name
			, member_point
			, member_sign
			,member_join
			FROM member
			where member_phone like concat('%',#{insert},'%')
			or member_name like concat('%',#{insert},'%')
			ORDER BY member_sign DESC 
			LIMIT #{beginRow},#{pagePerRow}

</select>


<!-- 실시간 리스트 쿼리 -->
<select id="AjaxMemberList" parameterType="java.util.HashMap" resultType="kr.or.possys.Member_sevice.Member">
SELECT  member_phone
			,member_name
			, member_point
			, member_sign
			,member_join
			FROM member
			where member_phone like concat('%',#{insert},'%')
			or member_name like concat('%',#{insert},'%')
			or member_point like concat('%',#{insert},'%')
			or member_sign like concat('%',#{insert},'%')
			or member_join like concat('%',#{insert},'%')
			ORDER BY member_sign DESC 
			LIMIT #{beginRow},#{pagePerRow}

</select>
<!-- 검색 조건에 맞는 회원수 조회 쿼리 -->
<select id="getsearchCount" parameterType="kr.or.possys.Member_sevice.mVo" resultType="int">

SELECT COUNT(*) FROM  member where ${selBox}=#{search}

<!-- SELECT COUNT(*) FROM 
(SELECT member_name
		,member_phone
		,member_point
		,member_sign
		,member_join
	   COUNT FROM member
		where ${selBox}=#{search}) AS submember
		where ${selBox}=#{search} -->
</select>

<!-- 검색조건 선택하고 내용 입력받아 검색하는 쿼리 -->
<select id="Msearch" parameterType="kr.or.possys.Member_sevice.mVo" resultType="kr.or.possys.Member_sevice.Member">
SELECT 	 member_name
		,member_phone
		,member_point
		,member_sign
		,member_join
		FROM member
		where ${selBox} = #{search}
		ORDER BY member_sign DESC 
		LIMIT #{beginRow},#{pagePerRow};

<!-- SELECT 	 member_name
		,member_phone
		,member_point
		,member_sign
		,member_join
		FROM member
		where ${selBox} = #{search}; -->
</select>

<!-- 전체 회원 수 조회 쿼리 --> 
<select id="getMemberCount" resultType="int">
SELECT COUNT(*) FROM member
</select>
<!-- 전체 회원 정보 조회 쿼리 -->
<select id="getMemberList" parameterType="java.util.HashMap" resultType="kr.or.possys.Member_sevice.Member">
SELECT  member_phone
			,member_name
			, member_point
			, member_sign
			,member_join
			FROM member
			ORDER BY member_sign DESC 
			LIMIT #{beginRow},#{pagePerRow}
</select>

<!-- 한명 회원정보 조회 쿼리 -->
<select id="MselectOne" parameterType="String" resultType="kr.or.possys.Member_sevice.Member">
SELECT  member_phone
		,member_name
		,member_point
		,member_sign
		,member_join
		FROM member 
		where member_phone = #{member_phone};
</select>
<!-- 한명의 회원정보 수정 쿼리 -->
<update id="Mupdate" parameterType="kr.or.possys.Member_sevice.Member">
UPDATE member SET 
member_phone= #{member_phone}
 ,member_name= #{member_name}
 ,member_point= #{member_point}
 WHERE member_phone= #{p_member_phone}
</update>

<delete id="deleteMember" parameterType="String">
DELETE FROM member 
		WHERE member_phone= #{member_phone}
</delete>
</mapper>
